html, body{
    color:white;
    background-color: #08071fc4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
    padding: 70px;
}

button{
    font-size: medium;
    margin-right: 10px;
    padding: 10px;
    background-color: teal;
}